.bones-mapping{
	color:#fff;
	width: 100%;
	height:calc(100% - 40px);
	overflow: hidden;
}
.bones-mapping thead td{
	height:40px;
	line-height:40px;
	text-align: center;
	font-size:13px;
	border-right:0.5px solid rgba(255 , 255 , 255 , 0.1);
	border-top:0.5px solid rgba(255 , 255 , 255 , 0.1);
	border-bottom:0.5px solid rgba(255 , 255 , 255 , 0.1);
}
.bones-mapping thead tr > td:nth-last-child(1){
	border-right:0px;
}